<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mi cuenta</ion-title>
  </ion-navbar>

</ion-header>

<!-- ----------------------------------- AVATAR ---------------------------------------------- -->

<ion-content padding>
<div class="img">
  <img id="userImg" [src]="foto" alt="nd">
  <ion-fab >
    <button ion-fab mini (click)="openGalery()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>
</div>
<button icon-left ion-button block round>
  <ion-icon name="archive"></ion-icon>
  Guardar Avatar</button>

<!-- ------------------------------ FORMULARIO USER ---------------------------------------------- -->



  <div *ngIf="!global.admin">
  <form [formGroup]="datosUser" (ngSubmit)="datosUsr()"  novalidate>
  <div class="info">
    <h3>Informacion de mi cuenta</h3>
    <ion-item>
        <ion-label>Pais</ion-label>
        <ion-icon name="pin"></ion-icon>
        <ion-select >
          <ion-option value="f">P1</ion-option>
          <ion-option value="m">P2</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input placeholder="ejemplo@mail.com" type="email" formControlName="email" readonly></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input placeholder="ingresa tu nombre" type="text" formControlName="nombres"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input placeholder="ingresa tu apellido" type="text" formControlName="apellidos"></ion-input>
        </ion-item>
  </div>
  <div class="contacto">
    <h3>Datos de contacto</h3>
    <ion-item>
      <ion-label>Fecha nacimiento</ion-label>
      <ion-datetime *ngIf="fechaNacmiento" displayFormat="MM/DD/YYYY" formControlName="fecha"></ion-datetime>
      <ion-input type="text" *ngIf="!fechaNacmiento" formControlName="fecha2" readonly></ion-input>
    </ion-item>
    <ion-item>
            <ion-label>
              <ion-icon name="card"></ion-icon>
            </ion-label>
            <ion-input placeholder="igresa tu identificación" type="number" formControlName="identificacion"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>
                <ion-icon name="locate"></ion-icon>
              </ion-label>
              <ion-input placeholder="igresa tu dirección" type="text"  formControlName="direccion" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <ion-icon name="call"></ion-icon>
                </ion-label>
                <ion-input placeholder="igresa tu telefono" type="number" formControlName="telefono"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="igresa tu whatsapp" type="number" formControlName="whats"></ion-input>
                </ion-item>       
  </div>

  <button icon-left ion-button block round>
    <ion-icon name="archive"></ion-icon>
    Guardar </button>

  </form>
</div>

<!--   --------------------- FORMULARIO PROVEDOR -------------------------------------------------- -->

<div *ngIf="global.admin">
    <form [formGroup]="datosAdmin" (ngSubmit)="datosUsr()"  novalidate>
    <div class="info">
        <h3>Informacion de mi cuenta</h3>
        <ion-item>
            <ion-label>Pais</ion-label>
            <ion-icon name="pin"></ion-icon>
            <ion-select >
              <ion-option value="f">P1</ion-option>
              <ion-option value="m">P2</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>
                <ion-icon name="mail"></ion-icon>
              </ion-label>
              <ion-input placeholder="ejemplo@mail.com" type="email" formControlName="email" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  <ion-icon name="person"></ion-icon>
                </ion-label>
                <ion-input placeholder="ingresa tu nombre" type="text" formControlName="nombres"></ion-input>
              </ion-item>
    </div>
    <div class="contacto">
        <h3>Datos de contacto</h3>
       
              <ion-item>
                  <ion-label>
                    <ion-icon name="locate"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="igresa tu dirección" type="text" formControlName="direccion"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>
                      <ion-icon name="call"></ion-icon>
                    </ion-label>
                    <ion-input placeholder="igresa tu telefono" type="number" formControlName="telefono"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label>
                        <ion-icon name="logo-whatsapp"></ion-icon>
                      </ion-label>
                      <ion-input placeholder="igresa tu whatsapp" type="number" formControlName="whats"></ion-input>
                    </ion-item>       
      </div>

  <div class="proovedor">
    <h3>Información proovedor</h3>
    
      <ion-item>
          <ion-label>
            <ion-icon name="contacts"></ion-icon>
          </ion-label>
          <ion-input placeholder="Ingresa el nombre de tu empresa" type="text" formControlName="nombres"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
              <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input placeholder="Ingresa tu Nit / Tarjeta profecional" formControlName="nit"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>
                <ion-icon name="at"></ion-icon>
              </ion-label>
              <ion-input placeholder="Ingresa link de tu sitio web" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="logo-youtube"></ion-icon>
              </ion-label>
              <ion-input placeholder="Pega el link de tu video" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-textarea placeholder="Describenos tu empresa"></ion-textarea>
              </ion-item>        
  </div>

  <button icon-left ion-button block round>
      <ion-icon name="archive"></ion-icon>
      Guardar </button>

</form>
</div>

</ion-content>
