page-sacar-cita {
   
    .cerrado{
        text-align: center;
        .img_cerrado{
            height: 100px;
            width: 100px;
        }
    }

    .hr{
        padding-top: 20px;
         }
         .h1{
             text-align: center;
         }

        
}
