<h4 class="h4">Filtrar</h4>
<ion-item>
    <ion-label>Categorias</ion-label>
    <ion-select multiple="false" (ionChange)="categoriaSelect($event);">
      <ion-option *ngFor="let cate of ctgas;let i = index" [value]="cate.id_categoria"  >{{cate.nombre}}</ion-option>     
    </ion-select>
  </ion-item>
<ion-item>
    <ion-label>Departamentos</ion-label>
    <ion-select multiple="false" (ionChange)="departamentoSelect($event);">
      <ion-option *ngFor="let dpt of dptms;let i = index" [value]="dpt.id_departamento"  >{{dpt.nombre}}</ion-option>     
    </ion-select>
</ion-item>
<ion-item>
    <ion-label>Municipio</ion-label>
    <ion-select multiple="false" (ionChange)="municipioSelect($event);">
        <ion-option *ngFor="let mnp of mncps;let i = index" [value]="mnp.id_municipio"  >{{mnp.nombre}}</ion-option>
      
    </ion-select>
  </ion-item>
  <ion-item>
    <button ion-button icon-left color="prevenir" (click)="buscar()">
      <ion-icon name="search"> Buscar </ion-icon>
    </button>
  </ion-item>
