page-registro {
    text-align: center;
    .imgs{
    
    padding-top: 10px;
    padding-right: 75px;
    padding-bottom: 10px;
    padding-left: 75px;
    }

    .txt{
        text-align: center;
        color:#07A9DF;
    }
}
